[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arbiter
Terminal=false
GenericName=cedran
Comment=A tool to assist Rings of Honor officials.
Icon=RoH.png
Categories=Network;
Exec=arbiter
